body{
    background-color: #00a9e0;
    font-size: 14px;
    padding: 10px;
}
.topnav {
    background-color: #00a9e0;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #fc5903;
    color: white;
  }

.container{
    display:grid;
    grid-template-columns: 300px ;
    grid-template-areas: 
    "hd"
    "feat"
    "main"
    "ft";
    gap:15px;
    padding:10px;
    border: 2px solid #fc5903;

  }
  
  .box{
      display: block;
      text-align: center;
      border: 1px solid #fc5903;
      background: #ffffff;
      padding: 10px;
  }
  .header{
      grid-area: hd;
  }

  .footer{
    grid-area: ft;
  }
  .feature{
   grid-area: feat;
  }
  .content{
    grid-area: main;
  }
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
  }
  
  .fa:hover {
      opacity: 0.7;
  }
  
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  
  .fa-youtube {
    background: #bb0000;
    color: white;
  }
  
  .fa-instagram {
    background: #125688;
    color: white;
  }

  @media(min-width:900px){
  .container{
    display:grid;
   grid-template-rows: 150px 350px 600px 150px;
   grid-template-columns: 300px 300px 300px;
   grid-template-areas: 
   "hd hd hd hd hd hd hd hd"
   "feat feat feat feat feat feat feat feat"
   "main main main main main main main main"
   "ft ft ft ft ft ft ft ft";
   gap:15px;
   padding: 10px

  }
  body{
    background-color: #00a9e0;
    font-size: 24px;
    padding: 10px;
}
}
